{% extends 'base.html' %}
{% load static %}

{% block content %}
    <form method="POST">
        {% csrf_token %}
        {% if form.non_field_errors %}
            <div class="text-danger mb-4">
                {{ form.non_field_errors }}
            </div>
        {% endif %}
        <div class="form-floating">
            {{ form.email }}
            <label for="{{ form.email.id_for_label }}">Your email address</label>
            {% if form.email.errors %}
                <div class="form-error mt-4">
                    {{ form.email.errors }}
                </div>
            {% endif %}
        </div>
        <div class="text-center">
            <button type="submit" class="btn btn-success mt-4">Reset password</button>
        </div>
    </form>
{% endblock %}