{% extends 'base.html' %}
{% load static %}

{% block content %}
    <form method="POST" novalidate>
        {% csrf_token %}
        {% if form.non_field_errors %}
            <div class="text-danger mb-4">
                {{ form.non_field_errors }}
            </div>
        {% endif %}
        <div class="form-floating">
            {{ form.email }}
            <label for="{{ form.email.id_for_label }}">Your email address</label>            
                <div class="invalid-feedback mt-4">
                    {% if form.email.errors %}
                        {{ form.email.errors }}
                    {% endif %}
                </div>
        </div>
        <div class="text-center">
            <button type="submit" class="btn btn-success mt-4">Reset password</button>
        </div>
    </form>
{% endblock %}
{% block js-files %}
    <script src="{% static 'js/validation/validateRequestResetPasswordForm.js' %}" type="module"></script>
{% endblock %}