{% extends 'base.html' %}

{% block content %}

{% if messages %}
    <section class="text-center">
        {% for message in messages %}
            <div class="alert alert-{{message.tags}}">{{message|linebreaksbr}}</div>
        {% endfor %}
        <a id="newWordButton" class="btn btn-success" href="/article-game?language={{ word.language.language_name }}" role="button">New word</a>
    </section>
{% else %}
    <form class="text-center" action="{% url 'article-game-verify-answer' %}" method="POST">
        {% csrf_token %}
        <div class="mb-4 row">
            <div class="col-4 col-lg-2">
                <input id="article" type="text" class="mb-4 text-center form-control" placeholder="Article" name="article">
            </div>
            <div class="col-8 col-lg-10">
                <input id="word" type="text" class="mb-4 text-center form-control" value="{{word.word_name}}" name="word" disabled>
            </div>
        </div>
        <input id="wordId" type="text" name="word_id" value="{{word.id}}" hidden>
        <button id="answerSubmitButton" type="submit" class="btn btn-success">Verify answer</button>
    </form>
{% endif %}

{% endblock %}