{% extends 'base.html' %}

{% block content %}

{% if messages %}
    {% for message in messages %}
        <div class="alert alert-danger" role="alert">
            {{message}}
        </div>
    {% endfor %}
{% endif %}
<form action="{% url 'article-game' %}" method="GET">
    <div class="mb-4">
        <label for="selectLanguage" class="form-label">Language</label>
        <select id="selectLanguage" class="form-select form-select-sm" aria-label=".form-select-sm example" name="language">
            <option id="defaultItem" value="" selected>Choose a language</option>
            {% for language in languages %}
                <option id="{{ language.language_name }}Item" value="{{ language.language_name }}">{{ language.language_name }}</option>
            {% endfor %}
        </select>
    </div>
    <div class="text-center">
        <button id="submitButtonSetupForm" type="submit" class="btn btn-success mx-auto">Start</button>
    </div>
</form>

{% endblock %}