{% extends 'base.html' %}

{% block content %}

{% if messages %}
    <section class="text-center">
        {% for message in messages %}
            <div class="alert alert-{{message.tags}}">{{message|linebreaksbr}}</div>
        {% endfor %}
        <a id="newWordButton" class="btn btn-success" href="/conjugation-game?language={{ word.language.language_name }}" role="button">New verb</a>
    </section>
{% else %}
    <form class="text-center" action="{% url 'conjugation-game-verify-answer' %}" method="POST">
        {% csrf_token %}
        <div class="mb-4 row">
            <div class="col-5 col-sm-3 col-lg-2">
            </div>
            <div class="col-7 col-sm-9 col-lg-10">
                <input type="text" class="mb-3 text-center form-control" value="{{word.word_name}} - {{tense}}" id="word" name="word" disabled>
            </div>
        </div>
        <div class="mb-4 row">
            <label for="conjugation_1" class="col-5 col-sm-3 col-lg-2 col-form-label">{{ word.language.personal_pronoun_1 }}</label>
            <div class="col-7 col-sm-9 col-lg-10">
                <input id="conjugation_1" type="text" class="mb-3 text-center form-control" name="conjugation_1">
            </div>
        </div>
        <div class="mb-4 row">
            <label for="conjugation_2" class="col-5 col-sm-3 col-lg-2 col-form-label">{{ word.language.personal_pronoun_2 }}</label>
            <div class="col-7 col-sm-9 col-lg-10">
                <input id="conjugation_2" type="text" class="mb-3 text-center form-control" name="conjugation_2">
            </div>
        </div>
        <div class="mb-4 row">
            <label for="conjugation_3" class="col-5 col-sm-3 col-lg-2 col-form-label">{{ word.language.personal_pronoun_3 }}</label>
            <div class="col-7 col-sm-9 col-lg-10">
                <input id="conjugation_3" type="text" class="mb-3 text-center form-control" name="conjugation_3">
            </div>
        </div>
        <div class="mb-4 row">
            <label for="conjugation_4" class="col-5 col-sm-3 col-lg-2 col-form-label">{{ word.language.personal_pronoun_4 }}</label>
            <div class="col-7 col-sm-9 col-lg-10">
                <input id="conjugation_4" type="text" class="mb-3 text-center form-control" name="conjugation_4">
            </div>
        </div>
        <div class="mb-4 row">
            <label for="conjugation_5" class="col-5 col-sm-3 col-lg-2 col-form-label">{{ word.language.personal_pronoun_5 }}</label>
            <div class="col-7 col-sm-9 col-lg-10">
                <input id="conjugation_5" type="text" class="mb-3 text-center form-control" name="conjugation_5">
            </div>
        </div>
        <div class="mb-4 row">
            <label for="conjugation_6" class="col-5 col-sm-3 col-lg-2 col-form-label">{{ word.language.personal_pronoun_6 }}</label>
            <div class="col-7 col-sm-9 col-lg-10">
                <input id="conjugation_6" type="text" class="mb-3 text-center form-control" name="conjugation_6">
            </div>
        </div>
        <input id="wordId" type="text" name="word_id" value="{{word.id}}" hidden>
        <input id="tense" type="text" name="tense" value="{{tense}}" hidden>
        <button id="answerSubmitButton" type="submit" class="btn btn-success">Verify answer</button>
    </form>
{% endif %}

{% endblock %}