{% extends 'base.html' %}
{% load static %}

{% block content %}

    {% if messages %}
        <section class="text-center">
        {% for message in messages %}
            <div class="alert alert-{{message.tags}}" role="alert">
                {{message}}
            </div>
        {% endfor %}
        </section>
    {% endif%}
    <form action="{% url 'login-done' %}" method="POST">
        {% csrf_token %}
        <div class="form-floating mb-4">
            <input id="inputUsername" type="text" class="form-control" name="username" placeholder="Username">
            <label for="inputUsername">Username</label>
        </div>
        <div class="form-floating mb-4">
            <input id="inputPassword" type="password" class="form-control" name="password" placeholder="Password">
            <label for="inputPassword">Password</label>
        </div>
        {% if request.GET.next %}
            <input type="hidden" name="next" value="{{ request.GET.next }}"/>
        {% endif %}
        <a id="reset_account_link" href="{% url 'request-reset-account' %}">I forgot my username/password</a>
        <br>
        <div class="text-center">
            <button id="submitLoginFormButton" type="submit" class="btn btn-success mt-4">Sign in</button>
        </div>
    </form>

{% endblock %}