{% extends 'base.html' %}
{% load static %}

{% block content %}

    <section class="row">
        <div class="col-12 col-md-5 col-lg-3">
            {% if app_user.picture %}
                <img id="profilePicture" src="{{app_user.picture.url}}" class="img-fluid rounded" alt="User profile picture">
            {% else %}
                <img id="defaultPicture" src="{% static 'images/profile.jpg' %}" class="img-fluid rounded" alt="Default profile picture">
            {% endif %}
            <div class="text-center mt-2">
                <!-- Button to update profile picture -->
                <button type="button" class="btn btn-info" data-bs-toggle="modal" data-bs-target="#updateProfilePictureModal">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-square" viewBox="0 0 16 16">
                        <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
                        <path d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm12 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1v-1c0-1-1-4-6-4s-6 3-6 4v1a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12z"/>
                    </svg> Update picture
                </button>
                <!-- Modal to display the form to update profile picture -->
                <div class="modal fade" id="updateProfilePictureModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                    <h1 class="modal-title fs-5" id="exampleModalLabel">Update profile picture</h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <form action="{% url 'profile' %}" method="POST" enctype="multipart/form-data">
                                <div class="modal-body">
                                {% csrf_token %}
                                {{ form_picture.picture }}
                                {% if form_picture.picture.errors %}
                                    <div class="form-error mt-4">
                                        {{ form_picture.picture.errors }}
                                    </div>
                                {% endif %}
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                                    <button class="btn btn-success" type="submit" >Update</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-7 col-lg-9 mt-4">
            <!-- Account details -->
            <section>
                <h5>Account details:</h5>
                <p id="username" class="mt-4">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
                    <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
                    <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
                    </svg> Username: {{user.username}}</p>
                <p id="email"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-envelope-at" viewBox="0 0 16 16">
                    <path d="M2 2a2 2 0 0 0-2 2v8.01A2 2 0 0 0 2 14h5.5a.5.5 0 0 0 0-1H2a1 1 0 0 1-.966-.741l5.64-3.471L8 9.583l7-4.2V8.5a.5.5 0 0 0 1 0V4a2 2 0 0 0-2-2H2Zm3.708 6.208L1 11.105V5.383l4.708 2.825ZM1 4.217V4a1 1 0 0 1 1-1h12a1 1 0 0 1 1 1v.217l-7 4.2-7-4.2Z"/>
                    <path d="M14.247 14.269c1.01 0 1.587-.857 1.587-2.025v-.21C15.834 10.43 14.64 9 12.52 9h-.035C10.42 9 9 10.36 9 12.432v.214C9 14.82 10.438 16 12.358 16h.044c.594 0 1.018-.074 1.237-.175v-.73c-.245.11-.673.18-1.18.18h-.044c-1.334 0-2.571-.788-2.571-2.655v-.157c0-1.657 1.058-2.724 2.64-2.724h.04c1.535 0 2.484 1.05 2.484 2.326v.118c0 .975-.324 1.39-.639 1.39-.232 0-.41-.148-.41-.42v-2.19h-.906v.569h-.03c-.084-.298-.368-.63-.954-.63-.778 0-1.259.555-1.259 1.4v.528c0 .892.49 1.434 1.26 1.434.471 0 .896-.227 1.014-.643h.043c.118.42.617.648 1.12.648Zm-2.453-1.588v-.227c0-.546.227-.791.573-.791.297 0 .572.192.572.708v.367c0 .573-.253.744-.564.744-.354 0-.581-.215-.581-.8Z"/>
                    </svg> Email: {{user.email}}</p>
            </section>
            <!-- Buttons -->
            <section>
                <!-- Button to access the update form -->
                <a class="btn btn-info" href="{% url 'update-user' %}" role="button">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-lines-fill" viewBox="0 0 16 16">
                        <path d="M6 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-5 6s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H1zM11 3.5a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1h-4a.5.5 0 0 1-.5-.5zm.5 2.5a.5.5 0 0 0 0 1h4a.5.5 0 0 0 0-1h-4zm2 3a.5.5 0 0 0 0 1h2a.5.5 0 0 0 0-1h-2zm0 3a.5.5 0 0 0 0 1h2a.5.5 0 0 0 0-1h-2z"/>
                    </svg> Edit account
                </a>
                <br>
                <!-- Button trigger modal for confirm the intention of deleting account-->
                <button type="button" class="btn btn-danger mt-4" data-bs-toggle="modal" data-bs-target="#deleteModal">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-x-fill" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M1 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm6.146-2.854a.5.5 0 0 1 .708 0L14 6.293l1.146-1.147a.5.5 0 0 1 .708.708L14.707 7l1.147 1.146a.5.5 0 0 1-.708.708L14 7.707l-1.146 1.147a.5.5 0 0 1-.708-.708L13.293 7l-1.147-1.146a.5.5 0 0 1 0-.708z"/>
                    </svg> Delete account
                </button>
                <!-- Modal to confirm the intention of deleting account -->
                <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">Are you sure?</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                Are you sure that you want to delete your profile? All information such as scores in the games is going to be permanently lost!
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Decline</button>
                                <form action="{% url 'delete-user' %}" method="POST">
                                {% csrf_token %}
                                    <button type="submit" class="btn btn-danger" >Yes, I want to delete my profile</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </section>
    <br>
    <section>
    {% if languages %}
        <h5 class="mb-4">Your performance in our games:</h5>
        <div class="dropdown mb-4">
            <button id="dropdownButtonFilter" class="btn btn-light dropdown-toggle w-100" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                {{language}}
            </button>
            <ul class="dropdown-menu w-100">
                {% for language in languages %}
                    <li><a class="dropdown-item" href="{% url 'profile'%}?language={{language.language_name}}">{{language.language_name}}</a></li>
                {% endfor %}
            </ul>
        </div>
        {% if scores %}
            <!-- Score table -->
            <table class="table table-stripped">
                <thead>
                    <tr>
                        <th scope="col">Game</th>
                        <th scope="col">Score</th>
                    </tr>
                </thead>
                <tbody>
                {% for score in scores %}
                    <tr>
                        <td>{{score.game.game_name}}</td>
                        <td>{{score.score}}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p id="warningNoScores">It seems that you haven't played games in this language yet...</p>
        {% endif %}
    {% endif %}
    </section>

{% endblock %}
{% block js-files %}
    {% if form_picture.picture.errors %}
        <script src="{% static 'js/showUpdateProfilePictureModal.js' %}"></script>
    {% endif %}
{% endblock %}