{% extends 'base.html' %}
{% load static %}

{% block content %}

    {% if messages %}
        <section class="text-center">
        {% for message in messages %}
            <div class="alert alert-{{message.tags}}" role="alert">
                {{message}}
            </div>
        {% endfor %}
        </section>
    {% endif%} 
    <form action="{% url 'signup' %}" method="POST">
        {% include '../../partials/form_user.html' %}
        <div class="text-center">
            <button id="formUserSubmitButton" type="submit" class="btn btn-success">Sign up</button>
        </div>
    </form>

{% endblock %}