{% csrf_token %}
<div class="mb-4">
    <label for="inputEmail" class="form-label">Email address</label>
    <input id="inputEmail" type="email" class="form-control" name="email" value="{{user.email}}" required>
</div>
<div class="mb-4">
    <label for="inputUsername" class="form-label">Username</label>
    <input id="inputUsername" type="text" class="form-control" name="username" value="{{user.username}}" required>
    </div>
<div class="mb-4">
    <label for="inputPassword" class="form-label">Password</label>
    <input id="inputPassword" type="password" class="form-control" name="password" required>
</div>
<div class="mb-4">
    <label for="inputPasswordConf" class="form-label">Confirm your password</label>
    <input id="inputPasswordConf" type="password" class="form-control" name = "password_confirmation" required>
</div>
<div class="text-center">
    {% if user.is_authenticated %}
    <button id="formUserSubmitButton" type="submit" class="btn btn-info">Update</button>
    {% else %}
    <button id="formUserSubmitButton" type="submit" class="btn btn-success">Sign up</button>
    {% endif %}
</div>