{% csrf_token %}
<div class="form-floating mb-4">
    <input id="inputEmail" type="email" class="form-control" name="email" value="{{user.email}}" placeholder="Email address" required>
    <label for="inputEmail">Email address</label>
</div>
<div class="form-floating mb-4">
    <input id="inputUsername" type="text" class="form-control" name="username" value="{{user.username}}" placeholder="Username" required>
    <label for="inputUsername">Username</label>
    </div>
<div class="form-floating mb-4">
    <input id="inputPassword" type="password" class="form-control" name="password" placeholder="Password" required>
    <label for="inputPassword">Password</label>
</div>
<div class="form-floating mb-4">
    <input id="inputPasswordConf" type="password" class="form-control" name = "password_confirmation" placeholder="Confirm your password" required>
    <label for="inputPasswordConf">Confirm your password</label>
</div>
<div class="text-center">
    {% if user.is_authenticated %}
    <button id="formUserSubmitButton" type="submit" class="btn btn-info">Update</button>
    {% else %}
    <button id="formUserSubmitButton" type="submit" class="btn btn-success">Sign up</button>
    {% endif %}
</div>