:root {
  --primary-color: #6EB6FF;
  --secondary-color: #A1D0FF;
  --primary-hover-color: #D9D9D9;
}

body {
    font-family: 'Noto Sans', sans-serif;
}

header, footer {
    background-color: var(--primary-color);
    color: white;
}

header .navbar-light .navbar-brand, .navbar-light .navbar-nav .nav-link {
  color: white;
}

header .navbar-light .navbar-brand:hover, .navbar-light .navbar-nav .nav-link:hover {
  color: var(--primary-hover-color);
}

header .navbar-light .navbar-brand:focus, .navbar-light .navbar-nav .nav-link:focus {
  color: var(--primary-hover-color);
}

header .account-options .btn {
  color: white;
}

header .account-options .account-sm-img {
  border-radius: 50%;
}

.secondary-color-card {
  background-color: var(--secondary-color);
  color: white;
}

.btn-info, .btn-info:hover {
  color: white;
}

footer {
  padding: 0.75em;
  box-sizing: border-box;
}

@media screen and (min-width: 992px) {
    header .account-options {
      position: absolute; 
      right: 0.75em;
    }
}
