{% extends 'base.html' %}

{% block content %}

{% if messages %}
    {% for message in messages %}
        <div class="mt-3 mx-3 alert alert-danger" role="alert">
            {{message}}
        </div>
    {% endfor %}
{% endif %}
<form class="mt-3 mx-3" action="{% url 'vocabulary_game' %}" method="GET">
    <div class="mb-3">
        <label for="selectBaseLanguage" class="form-label">Base language</label>
        <select class="form-select form-select-sm" aria-label=".form-select-sm example" name="base_language" id="selectBaseLanguage">
            <option value="" selected>Pick a base language</option>
            {% for language in languages %}
                <option value="{{ language.language_name }}">{{ language.language_name }}</option>
            {% endfor %}
        </select>
    </div>
    <div class="mb-3">
        <label for="selectTargetLanguage" class="form-label">Target language</label>
        <select class="form-select form-select-sm" aria-label=".form-select-sm example" name="target_language" id="selectTargetLanguage">
            <option value="" selected>Pick a target language</option>
            {% for language in languages %}
                <option value="{{ language.language_name }}">{{ language.language_name }}</option>
            {% endfor %}
        </select>
    </div>
    <button type="submit" class="btn btn-primary">Play!</button>
</form>

{% endblock %}