{% extends 'base.html' %}

{% block content %}

{% if messages %}
    <section class="text-center">
        {% for message in messages %}
            <div class="alert alert-{{message.tags}}">{{message|linebreaksbr}}</div>
        {% endfor %}
        <a id="newWordButton" class="btn btn-success" href="/vocabulary-game?base_language={{ base_language.language_name }}&target_language={{ word.language.language_name }}" role="button">New word</a>
    </section>
{% else %}
    <form class="text-center" action="{% url 'vocabulary-game-verify-answer' %}" method="POST">
        {% csrf_token %}    
        <input id="wordToTranslate" type="text" class="mb-3 text-center form-control" value="{{word.word_name}}" name="word_to_translate" disabled>
        <input id="translationWord" type="text" class="mb-3 text-center form-control" placeholder="Provide the translation in {{base_language}}" name="translation_word">
        <input id="wordId" type="text" name="word_to_translate_id" value="{{word.id}}" hidden>
        <input id="baseLanguage" type="text" name="base_language" value="{{base_language}}" hidden>
        <button id="answerSubmitButton" type="submit" class="btn btn-success">Verify answer</button>
    </form>
{% endif %}

{% endblock %}