{% extends 'base.html' %}

{% block content %}

<h5>Vocabulary training</h5>
<br>
<section>
    <p>This game will test your vocabulary. </p>

    <p>When learning a language, it is tricky to increase your repertory. For languages
        different from the languages that you know, everything may seem random and unexpected. Even languages that share similarities,
        such as Spanish and Portuguese, there are several “false friends”, that is words that seem to be a synonym of a word
        in other language, but whose meaning is not the same. Let’s start?</p>
</section>
{% if messages %}
    <section>
    {% for message in messages %}
        <div class="alert alert-danger" role="alert">
            {{message}}
        </div>
    {% endfor %}
    </section>
{% endif %}
<form action="{% url 'vocabulary-game' %}" method="GET">
    <div class="mb-4">
        <select id="selectBaseLanguage" class="form-select form-select-sm" aria-label=".form-select-sm example" name="base_language">
            <option id="defaultBaseLanguageItem" value="" selected>Choose a base language</option>
            {% for language in languages %}
                <option id="{{ language.language_name }}BaseLanguageItem" value="{{ language.language_name }}">{{ language.language_name }}</option>
            {% endfor %}
        </select>
    </div>
    <div class="mb-4">
        <select id="selectTargetLanguage" class="form-select form-select-sm" aria-label=".form-select-sm example" name="target_language">
            <option id="defaultTargetLanguageItem" value="" selected>Choose a target language</option>
            {% for language in languages %}
                <option id="{{ language.language_name }}TargetLanguageItem" value="{{ language.language_name }}">{{ language.language_name }}</option>
            {% endfor %}
        </select>
    </div>
    <div class="text-center">
        <button id="submitButtonSetupForm" type="submit" class="btn btn-success">Start</button>
    </div>
</form>

{% endblock %}