{% extends 'base.html' %}
{% load static %}

{% block content %}

    {% if meanings %}
        {% for meaning in meanings %}
            <div class="card mb-4 bg-light" >
                <div class="row g-0">
                    {% if meaning.word.image.url != null %}
                    <div class="col-md-2 col-sm-3 col-6">
                        <img src="{{meaning.word.image.url}}" class="img-fluid rounded-start" alt="word image">
                    </div>
                    <div class="col-md-10 col-sm-9 col-6">
                        <div class="card-body">
                            <h5 class="card-title">{{meaning.word}}</h5>
                            <p class="card-text">Meaning: {{meaning.meaning}}</p>
                        </div>
                    </div>
                    {% else %}
                    <div class="card-body">
                        <h5 class="card-title">{{meaning.word}}</h5>
                        <p class="card-text">Meaning: {{meaning.meaning}}</p>
                    </div>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    {% else %}
        <div class="text-center">No meaning found</div>
    {% endif %}

{% endblock %}