{% extends 'base.html' %}
{% load static %}

{% block content %}

    <div class="row justify-content-center">
        {% if search_results %}
            {% for result in search_results %}
                <div class="col-6 col-sm-4 my-1">
                    <a class="text-reset text-decoration-none" href="/meaning/{{result.id}}">
                        <div class="card">
                            <div class="row g-0">
                                <div class="col-md-4 px-4 d-flex align-items-center justify-content-center">
                                    <div>
                                        {% if result.language.flag_image %}
                                            <img src="{{result.language.flag_image.url}}" class="img-fluid rounded-start" alt="{{result.language.language_name}}">
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="col-md-8 d-flex align-items-center justify-content-center">
                                  <div class="card-body text-center">
                                      <p class="card-text">{{result.word_name}}</p>
                                  </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            {% endfor %}
        {% else %}
            <div class="text-center col-sm-8 col-md-4">
                <img id="noResultImg" src="{% static 'no_result.jpg' %}" class="img-fluid rounded" alt="No results">
                <p id="noResultP">No result matching your search was found</p>
            </div>
        {% endif %}
    </div>
    
    {% if search_results.has_other_pages %}
    <nav class="mt-2 d-flex align-items-center justify-content-center" aria-label="Page navigation example">
        <ul class="pagination">
            {% if search_results.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="{{base_url}}&page={{search_results.previous_page_number}}" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
            {% endif %}
            {% for page in search_results.paginator.page_range %}
                {% if search_results.number == page %}
                    <li class="page-item active"><a class="page-link" href="{{base_url}}&page={{page}}">{{page}}</a></li>
                {% else %}
                    <li class="page-item"><a class="page-link" href="{{base_url}}&page={{page}}">{{page}}</a></li>
                {% endif %}
            {% endfor %}
            {% if search_results.has_next %}
                <li class="page-item">
                    <a class="page-link" href="{{base_url}}&page={{search_results.next_page_number}}" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            {% endif %}
        </ul>
      </nav>
    {% endif %}

{% endblock %}