{% extends 'base.html' %}

{% block content %}

{% if messages %}
    <section class = "mt-3 text-center">
        {% for message in messages %}
            <div class="alert alert-{{message.tags}}">{{message|linebreaksbr}}</div>
        {% endfor %}
        <a class="btn btn-success" href="/conjugation_game?language={{ word.language.language_name }}" role="button">New word</a>
    </section>
{% else %}
    <form class="mt-3 text-center" action="{% url 'conjugation_game_verify_answer' %}" method="POST">
        {% csrf_token %}
        <div class="mb-3 row">
            <div class="col-sm-2">
            </div>
            <div class="col-sm-10">
                <input type="text" class="mb-3 text-center form-control" value="{{word.word_name}}" id="word" name="word" disabled>
            </div>
        </div>
        <div class="mb-3 row">
            <label for="conjugation_1" class="col-sm-2 col-form-label">{{ word.language.personal_pronoun_1 }}</label>
            <div class="col-sm-10">
                <input type="text" class="mb-3 text-center form-control" id="conjugation_1" name="conjugation_1">
            </div>
        </div>
        <div class="mb-3 row">
            <label for="conjugation_2" class="col-sm-2 col-form-label">{{ word.language.personal_pronoun_2 }}</label>
            <div class="col-sm-10">
                <input type="text" class="mb-3 text-center form-control" id="conjugation_2" name="conjugation_2">
            </div>
        </div>
        <div class="mb-3 row">
            <label for="conjugation_3" class="col-sm-2 col-form-label">{{ word.language.personal_pronoun_3 }}</label>
            <div class="col-sm-10">
                <input type="text" class="mb-3 text-center form-control" id="conjugation_3" name="conjugation_3">
            </div>
        </div>
        <div class="mb-3 row">
            <label for="conjugation_4" class="col-sm-2 col-form-label">{{ word.language.personal_pronoun_4 }}</label>
            <div class="col-sm-10">
                <input type="text" class="mb-3 text-center form-control" id="conjugation_4" name="conjugation_4">
            </div>
        </div>
        <div class="mb-3 row">
            <label for="conjugation_5" class="col-sm-2 col-form-label">{{ word.language.personal_pronoun_5 }}</label>
            <div class="col-sm-10">
                <input type="text" class="mb-3 text-center form-control" id="conjugation_5" name="conjugation_5">
            </div>
        </div>
        <div class="mb-3 row">
            <label for="conjugation_6" class="col-sm-2 col-form-label">{{ word.language.personal_pronoun_6 }}</label>
            <div class="col-sm-10">
                <input type="text" class="mb-3 text-center form-control" id="conjugation_6" name="conjugation_6">
            </div>
        </div>
        <input type="text" name="word_id" value="{{word.id}}" hidden>
        <button type="submit" class="btn btn-primary">Check</button>
    </form>
{% endif %}

{% endblock %}